# http://editorconfig.org
root = true

# Comma-separated list of rules to disable (Since 0.34.0)
# Note that rules in any ruleset other than the standard ruleset will need to be prefixed
# by the ruleset identifier.
[*.kt]
disabled_rules = no-wildcard-imports