<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.invariantlabs.fooddeliverynotifier.restaurants">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <provider
            android:name="br.com.mauker.materialsearchview.db.HistoryProvider"
            android:authorities="com.invariantlabs.fooddeliverynotifier.searchhistorydatabase"
            android:exported="false"
            android:protectionLevel="signature"
            android:syncable="true" />
    </application>

</manifest>